ICO_ON_BLUE ICON ico\bulbblue.ico
ICO_ERROR ICON ico\not_connected.ico
ICO_OFF ICON ico\bulb.ico
ICO_ON_GREEN ICON ico\bulbgreen.ico
ICO_ON_RED ICON ico\bulbred.ico
ICO_ON_YELLOW ICON ico\bulbyellow.ico
